/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
body {
	background-color: #E2E1DD;
}

#content-wrapper {
	border-top: 2px solid #4A4A4A;
	padding: 0 2.5%;
}

.top-bar {
	margin: 0;
}

footer {
	border-top: 2px solid #4A4A4A;
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: #6C6C6A;
	color: #FFF;
	margin: 0;
	text-align: center;
	height: 55px;
	padding-top: 15px;
}

.name h1>a {
	font-weight: 300;
	font-size: 150%;
}

a.button {
	color: #FFF;
}

.top-bar-greeting {
	font-weight: 100;
	font-size: 100%;
	color: #FFF;
	background-color: transparent !important;
	padding: 14px;
}

.bottom-caption {
	padding: 10px;
	background: #FFF;
}

figcaption .button {
	width: 48.7%;
	margin: 0 inherit;
}

.figtitle {
	background: rgba(0,0,0,0.6);
	width: 100%;
	padding: 5px;
	color: #FFF;
	position: relative;
	top: 47px;
	left: 40px;
	display: none;
}

#post {
	width: 320px;
	margin: 30px 15px;
}

#post>figure {
	width: 320px;
}
